<div fxLayout="row" fxLayoutAlign="start start">

    <div class="table-cont" fxFlex="49">
        <div class="table-title gene-card-title">
            <h4 class="mrgn-b-none">{{'Data Variables' | translate}}</h4>
        </div>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="dataVariablesSource">

            <ng-container matColumnDef="variable">
                <th mat-header-cell *matHeaderCellDef> Variable </th>
                <td mat-cell *matCellDef="let element"> {{element.variable}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>


            <ng-container matColumnDef="missing">
                <th mat-header-cell *matHeaderCellDef> % missing </th>
                <td mat-cell *matCellDef="let element"> {{element.perc_missing * 100 | number : '1.0-0'}}% </td>
            </ng-container>


            <ng-container matColumnDef="unique">
                <th mat-header-cell *matHeaderCellDef> # unique values </th>
                <td mat-cell *matCellDef="let element"> {{element.num_unique_values}} </td>
            </ng-container>

            <ng-container matColumnDef="binAs">
                <th mat-header-cell *matHeaderCellDef> Bin as </th>
                <td mat-cell *matCellDef="let element"> {{element.bin_as.name}} </td>
            </ng-container>

            <ng-container matColumnDef="manual">
                <th mat-header-cell *matHeaderCellDef> Manual/Panel </th>
                <td mat-cell *matCellDef="let element"> {{element.manually_set}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dataVariablesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataVariablesColumns;"></tr>
        </table>
    </div>


    <mat-card style="max-height: 40vh" fxFlex="49" fxFlexOffset="2">
        <mat-card-content>
            <div fxLayout="row">

                <div fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                    <label> Numeric Variable </label>
                    <mat-radio-group style="margin-bottom: 8px; display: block;" [formControl]="binRadioCtrl">
                        <mat-radio-button style=" margin-bottom: 8px; display: block;" value="BinAll">Bin all</mat-radio-button>
                        <mat-radio-button style="display: block;" value="BinOnlyMissing">Bin only missing</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field appearance="outline">
                        <mat-label>Max $ bins</mat-label>
                        <input type="number" matInput [formControl]="maxNumCtrl">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Bin # decimal places</mat-label>
                        <input type="number" matInput [formControl]="binNumCtrl">
                    </mat-form-field>

                    <mat-checkbox [formControl]="lowerCheckboxCtrl">Lower bound all = -∞</mat-checkbox>
                    <mat-checkbox [formControl]="upperCheckboxCtrl">Upper bound all = +∞</mat-checkbox>

                </div>
                <div fxFlex="32" fxFlexOffset="2" fxLayout="column" fxLayoutAlign="start start">
                    <label> Categorical Variables </label>
                    <mat-checkbox style="margin-bottom: 8px;" [formControl]="binCheckboxCtrl">Bin all</mat-checkbox>
                    <mat-form-field appearance="outline">
                        <mat-label>Max # bins</mat-label>
                        <input type="number" matInput [formControl]="maxNum2Ctrl">
                    </mat-form-field>
                </div>
                <div fxFlex="32" fxFlexOffset="2" fxLayout="column" fxLayoutAlign="start start">
                    <label> Binning Exclusions</label>
                    <mat-checkbox style="margin-bottom: 8px;" [formControl]="datetimeCheckboxCtrl">Datetime variables
                    </mat-checkbox>

                    <mat-form-field appearance="outline">
                        <mat-label>% missing values ≥ </mat-label>
                        <input type="number" matInput [formControl]="missingNumCtrl">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label># unique values ＜ </mat-label>
                        <input type="number" matInput [formControl]="uniqueNumCtrl">
                    </mat-form-field>

                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>

<div class="table-cont">

    <div class="table-title gene-card-title">
        <h4 class="mrgn-b-none">{{'Binning Analysis' | translate}}</h4>
    </div>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="binningAnalysisSource">

        <ng-container matColumnDef="variable">
            <th mat-header-cell *matHeaderCellDef> Variable </th>
            <td mat-cell *matCellDef="let element"> {{element.variable}} </td>
        </ng-container>


        <ng-container matColumnDef="bin">
            <th mat-header-cell *matHeaderCellDef> Bin </th>
            <td mat-cell *matCellDef="let element"> {{element.bin}} </td>
        </ng-container>


        <ng-container matColumnDef="obs#">
            <th mat-header-cell *matHeaderCellDef> # obs </th>
            <td mat-cell *matCellDef="let element"> {{element.num_obs}} </td>
        </ng-container>

        <ng-container matColumnDef="obs%">
            <th mat-header-cell *matHeaderCellDef> % obs </th>
            <td mat-cell *matCellDef="let element"> {{element.event_dist * 100 | number : '1.0-2'}}% </td>
        </ng-container>


        <ng-container matColumnDef="binValue">
            <th mat-header-cell *matHeaderCellDef> Bin value (WOE)</th>
            <td mat-cell *matCellDef="let element"> {{element.upper_limit * 100 | number : '1.2-2'}}% </td>
        </ng-container>

        <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef> Target Rate </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="trend">
            <th mat-header-cell *matHeaderCellDef> Trend </th>
            <td mat-cell *matCellDef="let element"> {{element.trend}} </td>
        </ng-container>

        <ng-container matColumnDef="iv">
            <th mat-header-cell *matHeaderCellDef> IV</th>
            <td mat-cell *matCellDef="let element"> {{element.iv | number : '1.0-2'}}% </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="binningAnalysisColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: binningAnalysisColumns;"></tr>
    </table>
</div>

<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
            <button mat-raised-button color="primary">{{'Clear' | translate}}</button>
            <button mat-raised-button color="primary" (click)="calculateBinAnalysis()">{{'Apply' | translate}}</button>
            <button mat-raised-button color="primary">{{'Export Results' | translate}}</button>
            <button mat-raised-button color="primary" (click)="binVariablesOkButton()">{{'Ok' | translate}}</button>
        </div>
    </mat-card-content>
</mat-card>