<div class="table-manage-list">

  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3rem">
        <h4>{{'Users List' | translate}}</h4>

        <mat-form-field class="filter-input" appearance="outline">
          <mat-label>{{'Search' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="filter" autocomplete="off" (keyup)="applyFilter($event.target.value)"
            placeholder="{{'Search' | translate}}">
          <mat-icon matSuffix *ngIf="!filter">search</mat-icon>
          <mat-icon class="clickable" matSuffix *ngIf="filter" (click)="clearFilter()">close</mat-icon>
        </mat-form-field>

      </div>
      <div class="mrgn-l-md mrgn-b-md " fxLayoutAlign="start center">
        <mat-card-actions class="mat-pad-none margin-none">
          <button class="mrgn-r-sm mrgn-x-sm" mat-raised-button mat-button-sm mat-fab color="primary"
            (click)="showAdd()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-raised-button mat-button-sm mat-fab color="primary" (click)="getUsers()">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="table-responsive">
      <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <div class="make-ellipse clickable" (click)="showEdit(element)">{{element.name}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>{{'Role' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            <div class="make-ellipse clickable" (click)="showEdit(element)">{{element.role | translate}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" class="actions-padding">
          <th mat-header-cell *matHeaderCellDef class="actions-padding">{{'Actions' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon matTooltip="{{'Edit' | translate}}" aria-label="Edit" class="mat-icon-grey .table-icon"
                (click)="showEdit(element)">
                edit</mat-icon>
            </button>
            <button mat-icon-button (click)="showDelete(element)">
              <mat-icon matTooltip="{{'Delete' | translate}}" aria-label="Delete" class="mat-icon-grey .table-icon">
                delete
              </mat-icon>
            </button>
            <button mat-icon-button (click)="showChangePassword(element.id)">
              <mat-icon matTooltip="{{'Change Password' | translate}}" aria-label="Change Password"
                class="mat-icon-grey .table-icon">
                security</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="pagination">
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card>
</div>
