<div fxLayout="row wrap">


    <div fxFlex.gt-md="75" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div class="invoice-list table-list-wrap">
            <mat-card class="pad-t-none">
                <div class="table-title gene-card-title">
                    <h4 class="mrgn-b-none">{{'Distribution Analysis' | translate}}</h4>
                </div>
                <mat-divider></mat-divider>
                <div class="table-responsive gene-card-content">
                    <table class="full-wid" mat-table [dataSource]="invoicelist">
                        <ng-container matColumnDef="id">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Variable</th>
                            <td mat-cell *matCellDef="let element">
                                <div>{{element.id}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="clientName">
                            <th mat-header-cell *matHeaderCellDef>Minimum</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">
                                <div>
                                    <h6 class="mrgn-b-none">{{element.firstName}} {{element.lastName}}</h6>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accountType">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>1 Percentile</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">
                                <mat-chip-list>
                                    <mat-chip color="{{element.accountTypeColor}}" selected>{{element.accountType}}</mat-chip>
                                </mat-chip-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dateCreated">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>25 Percentile</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.dateCreated | date:'mediumDate'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dueDate">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>50 Percentile</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.dueDate | date:'mediumDate'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>100 Percentile</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.amount}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedInvoiceColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedInvoiceColumns"></tr>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>

    <div fxFlex.gt-md="25" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="exchange-rate-widget">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <h4 class="mrgn-b-none">{{'Exchange Rate' | translate}}</h4>
                    </div>
                    <span fxFlex></span>
                    <button mat-icon-button>
            <mat-icon>sync</mat-icon>
          </button>
                    <button mat-icon-button>
            <mat-icon>more_horiz</mat-icon>
          </button>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content trade-crypto crypto-input-prefix">
                <div>
                    <div class="chart-wrap">

                        <div>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>Datetime Variables</mat-label>
                                <input value="" class="form-control" matInput type="number" placeholder="Datetime Variables" min="1">
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>% Most common Value
                                    < </mat-label>
                                        <input value="99.9" class="form-control" matInput type="number" placeholder="% Most common Value < " min="1">
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>
                                    information Value >
                                </mat-label>
                                <input value="5" class="form-control" matInput type="number" placeholder="information Value " min="1">
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>
                                    abs (correlation)
                                </mat-label>
                                <input value="5" class="form-control" matInput type="number" placeholder="    abs (correlation)" min="1">
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>
                                    Binned Variable only
                                </mat-label>
                                <input value="5" class="form-control" matInput type="number" placeholder="  Binned Variable only" min="1">
                            </mat-form-field>
                        </div>

                        <div class="button-wrap">
                            <button mat-raised-button color="primary">Clear</button>

                            <button mat-raised-button color="primary">Default Values</button>



                        </div>

                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div class="tax-rate-list table-list-wrap">
            <mat-card class="pad-t-none">
                <div class="table-title gene-card-title">
                    <h4 class="mrgn-b-none">{{'Volatility Anaylsis' | translate}}</h4>
                </div>
                <mat-divider></mat-divider>
                <div class="table-responsive gene-card-content">
                    <table class="full-wid" mat-table [dataSource]="taxrates">
                        <ng-container matColumnDef="date">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Variable</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.date | date:'mediumDate'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="type">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Std</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">
                                <mat-chip-list>
                                    <mat-chip color="{{element.TypeColor}}" selected>{{element.type}}</mat-chip>
                                </mat-chip-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="account">
                            <th mat-header-cell *matHeaderCellDef>Average</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.account}}</td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>% Most common Value </th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="credit">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Credit</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.credit}} </td>
                        </ng-container>

                        <ng-container matColumnDef="balance">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Balance</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.balance}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedTaxColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedTaxColumns"></tr>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
    <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div class="payment-list table-list-wrap">
            <mat-card class="pad-t-none">
                <div class="table-title gene-card-title">
                    <h4 class="mrgn-b-none">{{'Correlation Anaylsis' | translate}}</h4>
                </div>
                <mat-divider></mat-divider>
                <div class="table-responsive gene-card-content">
                    <table class="full-wid" mat-table [dataSource]="addtickets">
                        <ng-container matColumnDef="srno">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Variable</th>
                            <td mat-cell *matCellDef="let element">
                                <div>{{element.srno}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ticketCode">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>IV</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">
                                <div>
                                    <h6 class="mrgn-b-none">{{element.ticketCode}}</h6>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>WOE Num Miss</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Num Good1</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.date | date:'mediumDate'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="department">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Woe cate good1</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">{{element.department}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th class="text-nowrap" mat-header-cell *matHeaderCellDef>Woe num good1</th>
                            <td class="text-nowrap" mat-cell *matCellDef="let element">
                                <mat-chip-list>
                                    <mat-chip color="{{element.statusColor}}" selected>{{element.status}}</mat-chip>
                                </mat-chip-list>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedAddTicketsColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedAddTicketsColumns"></tr>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
</div>
