<div fxLayout="row wrap">


    <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

        <div class="table-title gene-card-title">
            <h4 class="mrgn-b-none">{{'Distribution Analysis' | translate}}</h4>
        </div>
        <mat-divider></mat-divider>

        <div class="table-cont">
            <table mat-table [dataSource]="distributionSource">

                <ng-container matColumnDef="variable">
                    <th mat-header-cell *matHeaderCellDef> Variable </th>
                    <td mat-cell *matCellDef="let element"> {{element.variable}} </td>
                </ng-container>


                <ng-container matColumnDef="include">
                    <th mat-header-cell *matHeaderCellDef> Include/Exclude </th>
                    <td mat-cell *matCellDef="let element"> {{element.include_exclude.name}} </td>
                </ng-container>


                <ng-container matColumnDef="manual">
                    <th mat-header-cell *matHeaderCellDef> Manual/Panel </th>
                    <td mat-cell *matCellDef="let element"> {{element.include_exclude_panel.name}} </td>
                </ng-container>

                <ng-container matColumnDef="minimum">
                    <th mat-header-cell *matHeaderCellDef> Minimum</th>
                    <td mat-cell *matCellDef="let element"> {{element.minimum | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile1">
                    <th mat-header-cell *matHeaderCellDef>1 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_1 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile5">
                    <th mat-header-cell *matHeaderCellDef>5 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_5 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile10">
                    <th mat-header-cell *matHeaderCellDef>10 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_10 | number : '1.0-2'}} </td>
                </ng-container>


                <ng-container matColumnDef="percentile25">
                    <th mat-header-cell *matHeaderCellDef>25 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_25 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile50">
                    <th mat-header-cell *matHeaderCellDef>50 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_50 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile75">
                    <th mat-header-cell *matHeaderCellDef>75 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_75 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile90">
                    <th mat-header-cell *matHeaderCellDef>90 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_90 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile95">
                    <th mat-header-cell *matHeaderCellDef>95 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_95 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="percentile99">
                    <th mat-header-cell *matHeaderCellDef>99 Percentile </th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_99 | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="maximum">
                    <th mat-header-cell *matHeaderCellDef> Maximum</th>
                    <td mat-cell *matCellDef="let element"> {{element.maximum | number : '1.0-2'}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="distributionColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: distributionColumns;"></tr>
            </table>
        </div>

    </div>

    <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="exchange-rate-widget">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <h4 class="mrgn-b-none">{{'Inclusion Settings' | translate}}</h4>
                    </div>

                </div>
                <mat-divider></mat-divider>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">

                <mat-form-field appearance="outline">
                    <mat-label>% most common value ＜ </mat-label>
                    <input type="number" matInput [formControl]="mostNumCtrl">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Information value ≥ </mat-label>
                    <input type="number" matInput [formControl]="informationNumCtrl">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>abs(correlation) ＜ </mat-label>
                    <input type="number" matInput [formControl]="absNumCtrl">
                </mat-form-field>

                <mat-checkbox style="margin-bottom: 8px;" [formControl]="binnedCheckboxCtrl">Binned variable only
                </mat-checkbox>

                <!-- <div>
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Datetime Variables</mat-label>
                        <input value="" class="form-control" matInput type="number" placeholder="Datetime Variables" min="1">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>% Most common Value
                            < </mat-label>
                                <input value="99.9" class="form-control" matInput type="number" placeholder="% Most common Value < " min="1">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>
                            information Value >
                        </mat-label>
                        <input value="5" class="form-control" matInput type="number" placeholder="information Value " min="1">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>
                            abs (correlation)
                        </mat-label>
                        <input value="5" class="form-control" matInput type="number" placeholder="    abs (correlation)" min="1">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>
                            Binned Variable only
                        </mat-label>
                        <input value="5" class="form-control" matInput type="number" placeholder="  Binned Variable only" min="1">
                    </mat-form-field>
                </div> -->
            </div>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

        <div class="table-title gene-card-title">
            <h4 class="mrgn-b-none">{{'Volatility Anaylsis' | translate}}</h4>
        </div>
        <mat-divider></mat-divider>
        <div class="table-cont">
            <table class="full-wid" mat-table [dataSource]="volatilitySource">

                <ng-container matColumnDef="variable">
                    <th mat-header-cell *matHeaderCellDef> Variable </th>
                    <td mat-cell *matCellDef="let element"> {{element.variable}} </td>
                </ng-container>


                <ng-container matColumnDef="include">
                    <th mat-header-cell *matHeaderCellDef> Include/Exclude </th>
                    <td mat-cell *matCellDef="let element"> {{element.include_exclude.name }} </td>
                </ng-container>


                <ng-container matColumnDef="manual">
                    <th mat-header-cell *matHeaderCellDef> Manual/Panel </th>
                    <td mat-cell *matCellDef="let element"> {{element.include_exclude_panel.name}} </td>
                </ng-container>

                <ng-container matColumnDef="std">
                    <th mat-header-cell *matHeaderCellDef> Std</th>
                    <td mat-cell *matCellDef="let element"> {{element.std | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="average">
                    <th mat-header-cell *matHeaderCellDef> average</th>
                    <td mat-cell *matCellDef="let element"> {{element.average | number : '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="mostCommonValue">
                    <th mat-header-cell *matHeaderCellDef> % most common value</th>
                    <td mat-cell *matCellDef="let element"> {{element.perc_most_common_value * 100 | number : '1.0-0'}} % </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="volatilityColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: volatilityColumns"></tr>
            </table>
        </div>

    </div>
    <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div class="payment-list table-list-wrap">
            <mat-card class="pad-t-none">
                <div class="table-title gene-card-title">
                    <h4 class="mrgn-b-none">{{'Correlation Anaylsis' | translate}}</h4>
                </div>
                <mat-divider></mat-divider>
                <div class="table-responsive gene-card-content">
                    <table #table [dataSource]="correlationSource" mat-table>
                        <ng-container *ngFor="let column of correlationColumns" [cdkColumnDef]="column.columnDef">

                            <mat-header-cell *cdkHeaderCellDef>{{ column.header }}
                            </mat-header-cell>

                            <mat-cell *cdkCellDef="let row"> {{ convert( column.cell(row))}}
                            </mat-cell>

                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedCorrelationColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedCorrelationColumns;"></mat-row>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
            <button mat-raised-button color="primary">{{'Export Results' | translate}}</button>
            <button mat-raised-button color="primary" (click)="variableAnalyzeOk()">{{'Ok' | translate}}</button>
        </div>
    </mat-card-content>
</mat-card>
