<div [dir]="coreService.layout" class="gene-login login-v2 pad-y-xl">
    <div fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="95" fxFlex.lg="70" fxFlex.xl="60">
            <mat-toolbar-row fxLayoutAlign="space-between" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="mrgn-x-md">
                <div class="mrgn-b-md">
                    <img src="./assets/img/logo-sign.png">
                </div>
            </mat-toolbar-row>
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="height-full pad-t-xl pad-b-xl form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px">
                <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
                    <mat-card class="gene-login-v2 card-full-height card-full-width">
                        <div>
                            <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
                                <h2>Get Started With UMBRELLA</h2>
                            </div>
                            <form autocomplete="off" [formGroup]="loginForm" fxLayoutAlign="center start">
                                <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70" fxLayoutAlign="start">
                                    <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                                        <mat-label>{{'Username' | translate}}</mat-label>
                                        <input class="mrgn-t-none" matInput placeholder="{{'Username' | translate}}" formControlName="name" type="text">
                                        <span matSuffix><i class="material-icons">verified_user</i></span>
                                    </mat-form-field>
                                    <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                                        <mat-label>{{'Password' | translate}}</mat-label>
                                        <input class="mrgn-t-none" matInput placeholder="{{'Password' | translate}}" type="password" formControlName="password">
                                        <span matSuffix><i class="material-icons">vpn_key</i></span>
                                    </mat-form-field>
                                    <div class="mrgn-b-md">
                                        <mat-checkbox class="remember-me" formControlName="rememberMe">{{'Remember Me' | translate}}
                                        </mat-checkbox>
                                    </div>
                                    <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                                        <button mat-flat-button class="success-bg gene-btn-lg" (click)="login()" [disabled]="!loginForm.valid">{{'Login' | translate | uppercase}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>