<div fxLayout="row" fxLayoutAlign="start start">

    <mat-card style="max-height: 50vh" fxFlex="35">
        <mat-card-content>
            <div class="table-title gene-card-title">
                <h4 class="mrgn-b-none">{{'Model Settings' | translate}}</h4>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="50">
                    <div fxLayout="column">
                        <p>Model framework</p>
                        <p>Regularization</p>
                        <p>Standardization</p>
                        <p>Optimization</p>
                        <p>Procedure method</p>
                        <p>Procedure max iterations</p>
                        <p>Procedure tolerance</p>
                        <p>Manual calibration setting</p>
                    </div>
                </div>
                <div fxFlex="50">
                    <div fxLayout="column">
                        <p>Logistic Regression</p>
                        <p>None</p>
                        <p>None</p>
                        <p>Maximum Likelihood</p>
                        <p>Newton-Raphson</p>
                        <p>1000</p>
                        <p>1e-07</p>
                        <mat-form-field appearance="outline">
                            <input type="number" matInput [formControl]="manualCtrl">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card style="max-height: 50vh" fxFlex="65">
        <mat-card-content>
            <div class="table-title gene-card-title">
                <h4 class="mrgn-b-none">{{'Variable Selection' | translate}}</h4>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="60">
                    <div fxLayout="column">

                        <div class="table-cont">

                            <table mat-table [dataSource]="panelVarsSource">

                                <ng-container matColumnDef="variable">
                                    <th mat-header-cell *matHeaderCellDef> Variable </th>
                                    <td mat-cell *matCellDef="let element"> {{element.variable}} </td>
                                </ng-container>


                                <ng-container matColumnDef="include_exclude">
                                    <th mat-header-cell *matHeaderCellDef> include_exclude </th>
                                    <td mat-cell *matCellDef="let element"> {{element.include_exclude}} </td>
                                </ng-container>


                                <ng-container matColumnDef="manually_set">
                                    <th mat-header-cell *matHeaderCellDef> manually_set </th>
                                    <td mat-cell *matCellDef="let element"> {{element.manually_set}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="panelVarsColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: panelVarsColumns;"></tr>
                            </table>
                        </div>

                    </div>
                </div>
                <div fxFlex="40">
                    <div fxLayout="column">
                        <div class="table-cont">

                            <table mat-table [dataSource]="varPropertySource">

                                <ng-container matColumnDef="property">
                                    <th mat-header-cell *matHeaderCellDef> property </th>
                                    <td mat-cell *matCellDef="let element"> {{element.property}} </td>
                                </ng-container>


                                <ng-container matColumnDef="value">
                                    <th mat-header-cell *matHeaderCellDef> value </th>
                                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="varPropertyColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: varPropertyColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>



</div>