<div id="main-app" class="app sidebar-color-dark header-color-dark" [dir]="coreService.layout" [ngClass]="{'app-dark': coreService.dark, 'collapsed-sidebar': coreService.collapseSidebar,
 'compact-sidebar': compactSidebar, 'customizer-in': customizerIn}" [class.side-panel-opened]="coreService.sidenavOpen"
  [class.side-panel-closed]="!coreService.sidenavOpen">
  <mat-sidenav-container class="gene-container">
    <mat-sidenav #sidenav [(mode)]="coreService.sidenavMode" [(opened)]="coreService.sidenavOpen" class="sidebar-area">
      <app-side-bar [menuList]="menuItems" [verticalMenuStatus]=true></app-side-bar>
    </mat-sidenav>
    <app-header></app-header>

    <div class="gene-base-container" #scrollContainer>
      <div class="inner-container" fxLayout="row wrap">
        <div class="full-wid" fxFlex="100">

          <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>

          <ng-container>
            <tour-step-template>
              <ng-template let-step="step">
                <div (click)="$event.stopPropagation()" class="popover bs-popover-bottom">
                  <div class="popover-header">
                    {{step?.title}}
                  </div>
                  <div class="popover-body">
                    <p class="tour-step-content">
                      {{step?.content}}
                    </p>
                  </div>
                  <div class="tour-step-navigation">
                    <button mat-icon-button [disabled]="!tourService.hasPrev(step)" (click)="tourService.prev()">
                      <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="!tourService.hasNext(step)" (click)="tourService.next()">
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                    <button mat-button (click)="tourService.end()">End</button>
                  </div>
                </div>
              </ng-template>
            </tour-step-template>
          </ng-container>
        </div>
        <div class="footer-wrap pad-t-none full-wid" fxFLex="100">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </mat-sidenav-container>

  <div class="gene-customizer">
    <button class="customizer-toggle" (click)="customizerFunction()">
      <mat-icon class="fa-spin">settings</mat-icon>
    </button>
    <div class="settings-panel">
      <mat-toolbar color="primary">
        <span fxFlex>{{'Options'|translate}}</span>
      </mat-toolbar>
      <mat-card-content class="theme-options">
        <h3>{{'Layout Options'| translate }}</h3>
        <mat-divider></mat-divider>
        <div class="collapse-option">
          <mat-checkbox [checked]="coreService.collapseSidebar" (change)="coreService.collapseSidebarChange($event)">
            {{'Collapsed Sidebar'| translate }}</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="coreService.dark" (change)="coreService.addClassOnBody($event)">
            {{'Dark Mode'| translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox [checked]="coreService.layout === 'rtl' ? true : false"
            (change)="coreService.changeRTL($event.checked)">
            {{'RTL'| translate }}</mat-checkbox>
        </div>
        <div>
          <mat-select placeholder="Language" class="mt-1" [(ngModel)]="coreService.currentLanguage"
            #langSelect="ngModel" (ngModelChange)="coreService.setLang(coreService.currentLanguage)">
            <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
          </mat-select>
        </div>
        <div class="inner-toolbar" fxHide fxShow.gt-md>
          <div class="theme-color">
            <div class="text-center mrgn-b-md">
              <h4>{{'Sidebar Filters'|translate}}</h4>
            </div>
            <div class="gene-list" fxLayoutAlign="center center">
              <div *ngFor="let filter of coreService.sideBarFilterClass; let i=index">
                <a class="gene-list-link" (click)="coreService.sidebarFilter(filter)">
                  <span [ngClass]="{'radius-circle': i == 0 }" id="{{filter.sideBarSelect}}"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="theme-color">
            <div class="text-center mrgn-b-md">
              <h4 class="theme-light-color">{{'Header Filters'|translate}}</h4>
            </div>
            <div class="gene-list" fxLayoutAlign="center center">
              <div *ngFor="let filter of coreService.headerFilterClass; let i=index">
                <a class="gene-list-link" (click)="coreService.headerFilter(filter)">
                  <span [ngClass]="{'radius-active': i == 0 }" id="{{filter.headerSelect}}"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>

</div>
